<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="sdfdata" connectionString="Data Source=|DataDirectory|\DB_PPC.sdf;Password=6817517a;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  </connectionStrings>
</configuration>
